.riylpostimage{
  max-width: 40vw;
  height: 40vh;
  padding: 2vh;
  float: left;
  text-align: left;
}

.riylposttext{
  max-width: 40%;
  text-align: left;


}

.riylpostheader{
  padding-top: 4vh;
  font-family: "j_font";
  font-size: 6vh;

  float: left;
  max-width: 20%;
  text-align: left;


}

.riylpost{
  align-items: left;
  text-align: left;
  border-style: solid;
  height: 40vh;
  background-color: lightgrey;

}