#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(160, 196, 146);
}



#offcanvasNavbar {
  width: auto;

  }



  @font-face {
    font-family: "GARAMOND";   /*Can be any text*/
    src: local("EBGaramond-BoldItalic"),
      url("/src/assets/EBGaramond-BoldItalic.ttf") format("truetype");
  }


  @font-face {
    font-family: "Raleway-Light";   /*Can be any text*/
    src: local("Raleway-Medium"),
      url("/src/assets/Raleway-Medium.ttf") format("truetype");
  }
  
  

  @font-face {
    font-family: "GaramondReg";   /*Can be any text*/
    src: local("GaramondReg"),
      url("/src/assets/GaramondReg.ttf") format("truetype");
  }
  

  @font-face {
    font-family: "Alfarn";   /*Can be any text*/
    src: local("Alfarn"),
      url("/src/assets/Alfarn.otf") format("truetype");
  }
  

  @font-face {
    font-family: "j_font";   /*Can be any text*/
    src: local("Myfont-Regular"),
      url("/src/assets/Myfont-Regular.otf") format("truetype");
  }
  
  @font-face {
    font-family: "head_font";   /*Can be any text*/
    src: local("FancyPantsNF"),
      url("/src/assets/FancyPantsNF.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "title_font";   /*Can be any text*/
    src: local("Hero"),
      url("/src/assets/Hero.otf") format("truetype"),
      /* font-family: "CustomFont";
src: url("CustomFont.eot");
src: url("CustomFont.woff") format("woff"), */
url("/src/assets/Hero.otf") format("opentype"),
/* url("CustomFont.svg#filename") format("svg"); */
  }

  @font-face {
    font-family: "geosans";   /*Can be any text*/
    src: local("GeosansLight"),
      url("/src/assets/GeosansLight.ttf") format("truetype"),

  }
  
  @font-face {
    font-family: "jg_font";   /*Can be any text*/
    src: local("Scrappy-Regular"),
      url("/src/assets/Scrappy-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "cloud_font";   /*Can be any text*/
    src: local("Cloud-Regular"),
      url("/src/assets/Cloud-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "dust_font";   /*Can be any text*/
    src: local("Dust-Regular"),
      url("/src/assets/Dust-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "curlybones_font";   /*Can be any text*/
    src: local("CurlyBones-Regular"),
      url("/src/assets/Curlybones-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "cursivetest_font";   /*Can be any text*/
    src: local("CursiveTest-Regular"),
      url("/src/assets/CursiveTest-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Triplex";   /*Can be any text*/
    src: local("Triplex Bold Italic Regular"),
      url("/src/assets/Triplex Bold Italic Regular.ttf") format("truetype");
  }












  