

.img__wrap {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  

}





@media screen and (max-width: 5068px){
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
  }
  #description {
    color:rgb(0, 0, 0);
    font-family: "CooperHewitt-Medium";
    font-size: 1.2em;
    border-bottom: 2px solid;
    font-family: "Futura";
    text-transform: uppercase;
  
    /* background-color: rgb(27, 27, 27); */
  
  }

.telescope {
  display: grid;
  grid-template-columns: 1fr 2fr auto ;
  padding: 0px;
}
.telescope-image-small{
  width: 0vw;
  height: 0vw;
  margin: auto;
  display: grid;
  /* background-color: black; */
  background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1717676131/70193548-8FA2-4D42-80EF-27FCF7B0D5C1_1_105_c_u9gtz6.png");
  background-size:cover;
  background-position-y:center;
  background-position-x:center;


}

.telescope-image{
  height: auto;
  float: left;
  margin: auto;

  /* background-color: black; */
  background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1717676131/70193548-8FA2-4D42-80EF-27FCF7B0D5C1_1_105_c_u9gtz6.png");
  background-size:cover;
  background-position-y:center;
  margin: 20px;
}

.helloP{
  font-family: "Futura";
  padding-top: 20px;
  line-height: 6vh;
  padding-bottom: 20px;

  text-align:justify;
  overflow-wrap:break-word;
  text-transform: uppercase;
  font-size: 1.65vw;

}
}


@media screen and (max-width: 768px){
  .grid-container {
    display:block;
  }
  #description {
    color:rgb(0, 0, 0);
    font-family: "CooperHewitt-Medium";
    font-size: 1em;
    width: 80%;
    border-bottom: .7px solid;
    font-family: "Futura";
    text-transform: uppercase;
  
    /* background-color: rgb(27, 27, 27); */
  
  }
  .telescope {
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 0;

  }

  .telescope-image{
    padding: 0px;
    margin: auto;
    height: 0;
    width: 0;
    display: grid;
    /* background-color: black; */
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1717683013/70193548-8FA2-4D42-80EF-27FCF7B0D5C1_1_105_ccloseup_vt9rea.png");
    background-size: contain;
    background-position-y:center;
    background-position-x:center;


  }
  .telescope-image-small{
    width: 80vw;
    margin: auto;
    height: 30vw;
    padding: 0px;
    display: grid;
    /* background-color: black; */
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1717683260/halftone_d8lsdd.png");
    background-size:contain;
    background-position-y:top;
    background-position-x:right;


  }
  
  .helloP{
    font-family: "Futura";
    width: 80%;
    padding: 5px;
    text-align:justify;
    overflow-wrap:break-word;
    text-transform: uppercase;
    font-size: 2vh;
  
  }
  
  
  }


