:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(247, 211, 144, 0.87);
  background-color: rgb(33,29,33);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.nav-item{
  color:white;
}

.navbar-toggler{
  color: rgb(32, 25, 59);
}

#react-unity-webgl-canvas-1{
  width: 70vw;
  height: 40vw;
}

#react-unity-webgl-canvas-2{
  width: 70vw;
  height: 40vw;
}

#home-img{
  text-align:end;
  max-height: 70vh;
  max-width: 30vw;
  right: 0vw;
  top: 30vh;  
  position: absolute;
  z-Index: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p{
  text-shadow:rgb(255, 255, 255);
}

.helloBubble {
  fill: rgb(160, 196, 146);
  animation: test-spin 7s infinite linear;
}

@keyframes test-spin {
    0% { transform: scale(.9) rotate(2deg); fill: rgb(107, 61, 140)}
    25% {transform: scale(1); fill: rgb(48, 114, 68)}
    50% {transform: scale(.9); fill: rgb(20, 38, 83)}
    75% { transform: scale(1) rotate(-2deg); fill: rgb(80, 106, 180)}
    100% { transform: scale(.9) rotate(2deg); fill: rgb(151, 111, 186)}
  }

body {
  padding-bottom: 25vh;
  place-items: center;
  background-color:  rgb(160, 196, 146);

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-style: none;
  background-color: transparent;
}

p{
  margin-left: 10%;
  margin-right: 10%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
}

.fabric-container{
  padding-top: 10vh;
  width: 100%;
}

.fabric {
  max-width: 90vw;
  text-align: center;
}

.delete{
  color: white;
  background-color: blueviolet;
}

.jacket {
  width: 60vw;
}


.heading{
  font-family: "j_font";
}

.heading-ayab{
  font-family: "didot";
  font-size: 5vh;
}

.navbar-brand{
  margin-right: 50%;
}

.bg-body-tertiary{
  --bs-bg-opacity: 0;
  z-index: 50;
}

.Julia{
  /* font-weight:10; */
  font-size: 10vh;
  color: rgb(21, 21, 21);
  font-family: didot;

}


.JuliaG{
  /* font-weight:10; */
  font-size: 100%;
  font-family: title_font, didot;
}

.JuliaGHello{
  /* font-weight:10; */
  font-size: 50%;
  color: white;
  font-family: title_font, didot;
}


.navbar-toggler{
  width: 5em;
  font-style: oblique;
  opacity: 0.6;
  padding-right: 2em;
  padding-top: 1em;
  border-radius: 100%;
  border-style: none;
  box-shadow: none;
}

.navbar-toggler:focus{
  border-style: none;
  box-shadow: none;
}

.navbar-toggler:hover{
opacity: 0.2;

}



.nav-img{
  max-width:10vw;
  max-height: 10vh;
}

/* .sig-img{
  max-width: 14vw;
  min-width: 120px;
  max-height: 19vh;
  min-height: 8vh;
  height: auto;
  mix-blend-mode: difference;
} */

.sig-head{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 2vh;

  /* text-shadow: 1px 1px 2px #ffffff; */
}
.sig-text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 5, 78);
  /* text-shadow: -15px 5px #e5e4e4; */
}

.title-text{
  font-size: 4.5vw;
  color:rgb(50, 29, 14);
  /* text-shadow: 2px 2px 3px#b1b4c6; */
  text-align: center;
  position: relative;
  top: -6vh;
  left: 10vw;
  z-index: 0;

}


.main-page-buttons {
  height: 30vh;
  padding: 1vw;
  filter: contrast(1.25);
  
}

.main-page-buttons:hover {
  transform: scale(.97);
}


.fonted-links{
  font-size: 3.5vh;
  /* font-family: "reg-text"; */
  font-weight: 200px;
  color:rgb(41, 30, 11);
  font-family: didot;

}

.carousel {

}

.carousel-caption {
  color: black;
  position: 'absolute';
    left: 'auto';
    bottom: 0;
    right: 'auto';
    padding-top: 500px;
}

.fonted-links a{
  color:rgb(29, 38, 68);

}

.fonted-links a:hover{
  color:rgba(84, 80, 108, 0.463);
  font-style: oblique;

}

.fonted {
  padding: 4vh;
  text-align: center;
  font-size: 3vh;

}

.fonted-modal {
  max-width: 100%;
  text-align: left;
  padding: 1em;

}

.reg-text{
  /* font-family: sans-serif; */
  color:rgb(37, 41, 39);
  font-weight:bold;
  font-family: "j_font";



}

.noheight {
  height: 13vh;
}
#footer {
  height:auto;
  width: 30%; 
  padding-top: 1vh;
  position: fixed;
  bottom: 0vh;
  text-align: left;
  left: 0.5em;
  z-Index: 20;

}

.testbubble{
  font-size: 50%;
  word-wrap: break-word;
}

.filledsvg {
  fill:rgb(0, 0, 0);
  position:absolute;
  z-index: 0;
  width: 100%;
  margin-top: -10vh;

}

.svgtest {
  fill: rgb(160, 196, 146);
  fill-opacity: 10;
  z-index: 0;
}


.header{
  height: 5vh;
  width: 100%;
  padding-top: 1vh;
  position: relative;
  top: 0vh;
  text-align: left;
  left: 0.5em;
  z-Index: 0;
}

.thesisblogp{
  text-align: center;
  width: 90%;
  margin-left: 5%;
  position: relative;

}

.padding{
  height: 25vw;
}

.thesisblogp_image{
  text-align: center;
  position: relative;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;

}

.postimage {
  max-height: 40vh;
  max-width: 40vw;
  z-index: 10;

}

#footerWeeks {
  height:auto;
  width: 100%; 
  left: 0%;
  position: fixed;
  bottom: 0vh;
  text-align: center;
  z-Index: 20;

}

#weekButton{
  background-color:#eee7bf;
  border-style: solid;
  border-color:rgb(41, 30, 11);
  color: black;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  font-family: 'j_font';
  padding: 10px;

}

#weekButton:hover{
  padding-top: 20px;
}

.helping{
  z-index: 100;
}


.game_image {
  width: 300px;
  padding: 10px;
}

.games_images{
  padding-left: 40px;
}

.websitevideo {
  position:relative;
  width: 80vw;
  height: 50vh;
  top: 0px;
}


#modalImage{
  height: 30vw;
}

#modalImagePost{
  max-height: 80vh;
  max-width: 90vw;
}


.img__wrap {
  position: relative;
  display: inline-block;
}

.carousel-caption {
  position: relative;
  display: inline-block;
  
}

.img__img {
  vertical-align: bottom;
}

.dress {
  width: 20vw;
}

.reg{
  font-family: sans-serif;
  color:rgb(54, 43, 25);
}
.carousel-description{
  color: #211D21;
  font-family: "j_font";

}


#root {
  text-align: center;
  margin: 0;
  padding: 0em;
  max-width: 100%;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 4vw;
  right: 0;
  background: rgba(20, 16, 24, 0.376);
  color: #b9edff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.knitting_container{
  width: 60vw;
}

a {
  color: rgb(10, 13, 190);
  z-index: 50;

}

a:hover{
  color: rgb(224, 0, 157);
}


.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  text-align: center;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%211D21' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  margin-left: -25vw;

 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%211D21' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   margin-right: -25vw;

 }


.carousel-indicators {
  color: transparent;
}

.marginParagraph {
  margin-right: 10%;
  margin-left: 10%;
}