:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color-scheme: light dark;
  color: rgba(247, 211, 144, 0.87);
  background-color: rgb(33,29,33);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navbar-toggler{
  color: rgb(32, 25, 59);
}

#react-unity-webgl-canvas-1{
  width: 70vw;
  height: 40vw;
}

#react-unity-webgl-canvas-2{
  width: 70vw;
  height: 40vw;
}

#home-img{
  text-align:end;
  max-height: 70vh;
  max-width: 30vw;
  right: 0vw;
  top: 30vh;  
  position: absolute;
  z-Index: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding-top: 25vh;;
  padding-left: 0;
  padding-bottom: 25vh;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-style: none;
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
}

.fabric {
  max-width: 90vw;
}

.jacket {
  width: 60vw;
}


.heading{
  font-family: "j_font";
}

.heading-ayab{
  font-family: "j_font";
  font-size: 5vh;
}

.navbar-brand{
  margin-right: 0;
}

.bg-body-tertiary{
  --bs-bg-opacity: 0;
  z-index: 50;
}

.header {
  /* font-family: "Handwriting"; */
  height:auto;
  width: 100%;
  padding-top: 2vh;
  position: fixed;
  top: 0vh;
  color: rgb(97, 197, 182);
  font-family: sans-serif;
  font-size: 0.8em;
  left: 0pt;
  font-family: "j_font";
  z-index: 100;
  background-color: rgb(250, 248, 244);
  border-radius: 5px;
  border-style: dashed;
  border-color: rgb(255, 255, 255);
  border-width: 8px;



}

.navbar-toggler{
  width: 5em;
  font-style: oblique;
  opacity: 0.6;
  padding-right: 2em;
  padding-top: 1em;
  border-radius: 100%;
  border-style: none;
  box-shadow: none;
}

.navbar-toggler:focus{
  border-style: none;
  box-shadow: none;
}

.navbar-toggler:hover{
opacity: 0.2;

}

.nav-img{
  max-width:10vw;
  max-height: 10vh;
}

.sig-img{
  max-width: 20vw;
  min-width: 150px;
  max-height: 19vh;
  min-height: 8vh;
  height: auto;
  /* background-blend-mode: screen, difference, lighten; */

}

.sig-head{
  font-family: 'j_font';
  color: rgb(147, 172, 165);
  font-size: 2vh;

  /* text-shadow: -15px 5px #e5e4e4; */
}
.sig-text{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(68, 68, 68);
  /* text-shadow: -15px 5px #e5e4e4; */
}

.title-text{
  font-size: 9vw;
  color:rgb(50, 29, 14);
  /* text-shadow: 2px 2px 3px#b1b4c6; */
  text-align: center;
  position: relative;
  top: -6vh;
  z-index: 0;

}


.main-page-buttons {
  height: 30vh;
  padding: 1vw;
}

.main-page-buttons:hover {
  transform: scale(.97);
}


.fonted-links{
  font-size: 3.5vh;
  /* font-family: "reg-text"; */
  font-weight: 200px;
  color:rgb(41, 30, 11);
  font-family: "j_font";

}

.carousel {

}

.carousel-caption {
  color: black;
  position: 'absolute';
    left: 'auto';
    bottom: 0;
    right: 'auto';
    padding-top: 500px;
}

.fonted-links a{
  color:rgb(29, 38, 68);
  font-family: "j_font";

}

.fonted-links a:hover{
  color:rgba(84, 80, 108, 0.463);
  font-style: oblique;

}

.fonted {
  padding: 4vh;
  text-align: center;
  font-size: 3vh;

}

.fonted-modal {
  max-width: 100%;
  text-align: left;
  padding: 1em;

}

.reg-text{
  /* font-family: sans-serif; */
  color:rgb(37, 41, 39);
  font-weight:bold;
  font-family: "j_font";



}

#footer {
  height:auto;
  width: 30%; 
  padding-top: 1vh;
  position: fixed;
  bottom: 0vh;
  text-align: left;
  left: 0.5em;
  z-Index: 20;

}

.helping{
  z-index: 100;
}


.game_image {
  width: 300px;
  padding: 10px;
}

.games_images{
  padding-left: 40px;
}

.websitevideo {
  position:relative;
  width: 80vw;
  height: 50vh;
  top: 0px;
}


#modalImage{
  height: 30vw;
}


.img__wrap {
  position: relative;
  display: inline-block;
}

.carousel-caption {
  position: relative;
  display: inline-block;
  
}

.img__img {
  vertical-align: bottom;
}

.dress {
  width: 20vw;
}

.reg{
  font-family: sans-serif;
  color:rgb(54, 43, 25);
}
.carousel-description{
  color: #211D21;
  font-family: "j_font";

}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 4vw;
  right: 0;
  background: rgba(20, 16, 24, 0.376);
  color: #b9edff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.knitting_container{
  width: 60vw;
}

a {
  color: rgb(75, 130, 27);
}

a:hover{
  color: rgb(224, 0, 157);
}


.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  text-align: center;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%211D21' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  margin-left: -25vw;

 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%211D21' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   margin-right: -25vw;

 }


.carousel-indicators {
  color: transparent;
}