#navabar {
  z-index: 220;
  color: rgb(54, 54, 54);


}
.navbar-custom{
  background-color: rgba(127, 114, 143, 0.52);

}

#offcanvasNavbar {
  background-color: rgb(129, 129, 129);
  text-align:top;
  color: rgb(255, 255, 255);
}

.navbutton_description {
  display: inline-block;
  position: absolute;
}

.navbutton_description:hover {
}
