#navabar {
  z-index: 220;
  color: rgb(255, 255, 255);

}
.navbar-custom{
  background-color: rgba(0, 0, 0, 0);

}

#whitetext {
color: rgb(39, 39, 39);
}

#offcanvasNavbar {
  background-color: rgb(129, 129, 129);
  text-align:top;
  color: rgb(58, 58, 58);
}

.navbar-toggler-icon {
  filter: invert(.1);
}

.navbutton_description {
  display: inline-block;
  position: absolute;
}

.navbaricon {
  filter: invert(.2);
}

.navbutton_description:hover {
}
