.grid-cat-header{
  font-family: "Futura-Bold";
  text-transform: uppercase;
  padding: 20px;
  padding-top: 40px;
  padding-left: 10vw;
  text-align: left;
  font-size: 2.5vh;
  color: rgb(37, 35, 35);
}

#logo-container{
  border-top: solid;
  width: 90%;
  margin: auto;

}

.grid-item{
  padding-top: 3vw;

}

@media screen and (max-width: 5068px){

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
  }
  .grid-item {
    height: 10vh;
    height: auto;
  }
  
  .grid-item img {
    max-height: 30vh;
    max-width: 30vw;
  }

}


@media screen and (max-width: 768px){
 
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: 10px;
  }
  .grid-item {
    height: 10vh;
    height: auto;
  }
  
  .grid-item img {
    max-height: 15vh;
    max-width: 25vw;
  }
}