.portfolioButtons {
  top: 0em;
  width: 100%;
  height: auto;
  /* position: fixed;*/
  display: flex;
  z-index: 200;
  align-items: center; 
  justify-content: center;



}

.button{
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 1em;
  border-style: solid;
  border-width: 0.2em;
  border-color: black;
  margin: 1em;
  z-index: 200;

  background-color: rgb(255, 255, 255);
  font-weight: bold;

}

.button:hover{
  box-shadow: 5px 10px;
  font-style: italic;
}

.button:focus{
  font-style: italic;

}

#redButton:hover{
  color: rgb(255, 0, 38);
  border-color: rgb(255, 0, 38);


}

#redButton:focus{
  color: rgb(255, 0, 38);
  border-color: rgb(255, 0, 38);

}

#purpleButton:hover{
  color: rgb(68, 0, 255);
  border-color: rgb(68, 0, 255);

}

#purpleButton:focus{
  color: rgb(68, 0, 255);
  border-color: rgb(68, 0, 255);

}

#orangeButton:hover{
  color: rgb(255, 162, 0);
  border-color: rgb(255, 162, 0);

}

#orangeButton:focus{
  color: rgb(255, 162, 0);
  border-color: rgb(255, 162, 0);

}


#greenButton:hover{
  color: rgb(0, 141, 52);
  border-color: rgb(0, 141, 52);


}
#greenButton:focus{
  color: rgb(0, 141, 52);
  border-color: rgb(0, 141, 52);


}

#pinkButton:hover{
  color: rgb(255, 0, 157);
  border-color: rgb(255, 0, 157);


}


#pinkButton:focus{
  color: rgb(255, 0, 157);
  border-color: rgb(255, 0, 157);


}

.imageButton{
  border-style: solid;
  margin: 2em;
  border-color:rgb(0, 0, 1, 0.4);
  border-width: 0.05em;
  border-radius: 50%;
  max-height: 15em;
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
box-shadow: 1px 1px 1px rgba(0,0,0,.5);
background-color: rgba(245, 213, 213, 0.6);

}

#imageButtonSquarer{
  border-radius: 20%;

}

.imageButton:hover{

  border-width: 0.1em;
  border-color:rgba(101, 102, 101, 0.6);


}

.imageButtonDiv{

}

