
html {
  scroll-behavior: smooth;
}

.card-div{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.tarot {
  font-size: 2.2vw;

}

#p-card{
  font-family: courier;
  font-size: 2vw;

}


.button-card {
  font-family: courier, 'Arial Narrow', Arial, sans-serif;
  color: rgb(36, 23, 1);
  border-radius: 10px;
  background-size: contain;
  width: 13vw;
  height: 20vh;
  z-index: 95;
}

.cardy{
  height: auto;
  width: auto;
}

.label-div{
  display: flex;
  justify-content: center;

}

#symbol{
padding: 0px;
justify-content: center;
position: relative;
width: 100%;
filter: invert(0.8);

}

#pad1{
  padding: 20px;
  transform: rotate(-0.01turn);
  
}

#pad2{
  padding: 42px;
  transform: rotate(0.005turn);
}

#pad3{
  padding: 8px;
  z-index: 2;
}

#card{
  background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1689568472/cardback_klb8xd.png");
  background-size: contain;
  filter: contrast(4);

  max-width: 13vw;
  height: auto;
  z-index: 10;
  aspect-ratio: 1/1.7;

}

.layout{
  z-index: 1;
}

.describe-spread{
  display: flex;
  justify-content: center;
}

#center-div{
}