
.aboutPBold{
  text-align: center;
  font-family: Futura;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 700;
}
.postheader{
  font-family: "Futura";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 50px;


}

.showimage {
  width: 30vw;
}

.artwalkdemoimage-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}

.artwalkdemoimage{
  max-width: 20vw;
}



@media screen and (max-width: 5068px){
  .aboutP{
    text-align: justify;
    line-height: 2vw;
    font-size: 1vw;
  }

  .borderNewspaper{
    border-left: solid;
    border-width: 1px;
    border-color: black;
  }
  .topStatement{
    font-size: 1.5em;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: Futura;
    text-transform: uppercase;
    text-align:justify;
  
  }
  #additional{
    padding-top: 2.5vh;
    margin: auto;
  }

  .showimageMICA {
    height: 80vh;
  }

}
@media screen and (max-width: 2089px){
  .aboutP{
    padding-top: 1vw;
    text-align: justify;
    line-height: 2vw;
    font-size: 1.25vw;
  }
}
@media screen and (max-width: 1589px){
  .aboutP{
    padding-top: 1vw;
    text-align: justify;
    line-height: 2.4vw;
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 989px){
  .aboutP{
    padding-top: 1vw;
    text-align: justify;
    line-height: 3.5vw;
    font-size: 2vw;
  }
  
  .borderNewspaper{
    border-left: solid;
    border-width: 0px;
    border-color: black;
  }
  .topStatement{
    font-size: 3vw;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: Futura;
    text-transform: uppercase;
    text-align:justify;
  
  }
  .showimageMICA {
    height: 50vh;
  }

}
