.grid-container {
  display: grid;
  grid-template-columns: auto auto auto ;
  padding: 10px;
}


.contactlink:hover{
  color: rgb(176, 176, 255);
  font-family: "Futura";
  font-style: oblique;

}

.grid-container-web {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-auto-rows: 1fr;
  padding: 10px;

}

.grid-item-web {
  background-color: rgb(244, 244, 244);
  border-style: none;
  border-width: .5px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  box-shadow: -2.5px 2.5px 3.5px rgba(0, 0, 0, 0.32);


}

.grid-item-web:hover {
  background-color: rgb(255, 255, 255);


}

.grid-item-web img {
  width: 29vw;
  height: auto;
  margin: 10px;
  box-shadow: -1.5px 1.5px 2.5px rgba(34, 1, 9, 0.32);

}

.websiteHeading{
  font-family: "Futura";
  font-weight: 100;
  padding-top: 1.5vh;
  text-align: center;
  border-radius: 5px;
  border-bottom-style: solid;
background-color: rgb(251, 251, 251);;
  border-left-style: solid;
  border-color:rgb(188, 188, 188);

  font-size: 2vw;
/* background-color: rgb(247, 247, 247); */
  color: rgb(3, 3, 3);
  margin: 10px;
  padding-bottom: 10px;
  letter-spacing: 1.5px;
  padding-left: 10px;
  padding-right: 10px;


}

.websiteDescription{
  max-width: 29vw;
  text-align: left;
  padding-right: 4vw;
  font-size: 1.4vw;
  padding-bottom: 2vh;
  list-style-type: '* ';
  margin: auto;
  padding-top: 2vw;
  line-height: 2.2vw;
  font-family: "CooperHewitt-Book";
}
.heading-web{
  font-family: futura;
  font-size: 3.2vw;
  max-width: 80vw;
  margin: auto;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 2vh;
}

.contactlink{
  color: rgb(0, 60, 255);
  font-family: "Futura";
  font-style: oblique;
  font-size: 1.8vw;

}

@media screen and (max-width:760px){

  .heading-web{
    font-family: futura;
    font-size: 6vw;
    font-weight: 700;
  }
  
  .contactlink{
    color: rgb(71, 0, 250);
    font-family: "Futura";
    font-style: oblique;
    font-size: 4.2vw;
  
  }

  .grid-container-web {
    display: grid;
    grid-template-columns: auto ;
    grid-auto-rows:min-content;
    padding: 10px;
  
  }
  
  .grid-item-web {
    border-style: none;
    border-width: .5px;
    border-radius: 20px;
    margin-left: auto;
    width: 80vw;
    margin-right: auto;
    margin-top: 4vh;
  
  
  }
  

  
  .grid-item-web img {
    max-height: 30vh;
    max-width: 80vw;
    width: 70vw;
    height: auto;
    margin: 10px;
  
  }
  
  .websiteHeading{
    font-family: 'Futura';
    font-weight: 500;
    padding-top: 1.5vh;
    text-align: center;
    border-radius: 15px;
    border-bottom-style: solid;
  
    border-left-style: solid;
  
    font-size: 4.5vw;
  /* background-color: rgb(247, 247, 247); */
    margin: 10px;
    padding-bottom: 10px;
  
  }
  
  .websiteDescription{
    max-width: 75vw;
    margin: auto;
    text-align: left;
    font-size: 4vw;
    padding-top: 1vh;
    list-style-type: '* ';
    line-height: 6vw;
    font-family: "CooperHewitt-Book";
  }
}
