#weekMenu {
    bottom: 0em;
    height: auto;
    position: fixed;
    text-align: center;
    left: 0%;
    z-Index: 200;
    flex-wrap: wrap;
    width: 100%; 
    left: 0%;
    background-color: white;
}

#links {
  
}

.title {
  font-style: oblique;
  font-weight: 150;
  font-size: 4em;
}

.header1 {
  font-family: j_font;
}

button:visited{
  font-weight: bold;
  background-color:#33342e;
  font-style: italic;
  padding-top: 0.2em;
  color: rgb(206, 206, 206);
  border-left-color:#33342e;
}

#weekButton2{
  padding-top: 0em;
  margin: 1px;
  left: 0%;
  background-color:#e5e5e5;
  border-style: solid;
  min-height: 4vh;
  border-color:rgba(41, 30, 11, 0.492);
  border-bottom-color:#cdceb3;
  color: rgb(0, 0, 0);
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}


#weekButton2:hover{
  background-color:#33342e;
  font-weight: bold;
  padding-top: 1.5em;
  color: rgb(206, 206, 206);
  border-bottom-color:#33342e;

}
