#weekMenu {
    bottom: 0em;
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    text-align: left;
    left: 0em;
    z-Index: 200;
    align-items: center;  
    flex-wrap: wrap;
    background-color:#a5a88d;

}

#links {
  
}

.title {
  font-style: oblique;
  font-weight: 150;
  font-size: 4em;
}

.header1 {
  font-family: j_font;
}

#weekMenu:hover {
  /* background-color:#cdceb3; */
}

#weekButton2{
  padding-top: 0em;
  background-color:#cdceb3;
  border-style: solid;
  min-height: 3em;
  border-color:rgba(41, 30, 11, 0.492);
  border-bottom-color:#cdceb3;
  color: rgb(0, 0, 0);
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  font-family: j_font;
  text-transform: uppercase;
}

#weekButton2:hover{
  background-color:#a5a88d;
  font-family: j_font;
  padding-top: 0.2em;
  color: rgb(57, 57, 57);

}
