#weekMenusem2 {
    bottom: 0em;
    height: auto;
    position: fixed;
    text-align: center;
    z-Index: 90;
    flex-wrap: wrap;
    width: 10%; 
    bottom:5vh;
    right: 2%;
}

#weekTitle{
  color:rgb(87, 87, 87);
  font-weight: bold;


}

#weekMenu {
  bottom: 0em;
  height: auto;
  position: fixed;
  text-align: center;
  z-Index: 200;
  flex-wrap: wrap;
  width: 95%; 
  bottom:1vh;
  left: 2%;
}

#links {
  
}

.title {
  margin-top: 2vh;
  font-weight: lighter;
  font-size: 2.3em;
}

.header1 {
  font-family: j_font;
}

button:visited{
  font-weight: bold;
  background-color:#33342e;
  font-style: italic;
  padding-top: 0.2em;
  color: rgb(206, 206, 206);
  border-left-color:#33342e;
}

#weekButton2{
  padding: 1em;
  margin: 0px;
  left: 0%;
  background: radial-gradient(  rgb(94, 94, 94), #000000);  border-style: solid;
  font-size: .75em;
  max-width: 4.5vw;
  border-color:rgba(46, 45, 46, 0);
  color: rgb(228, 228, 228);
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: lowercase;
}


#weekButton2:hover{
  background-color:rgb(84, 8, 45);
  font-weight: bold;
  font-style: oblique;
  color: rgb(255, 255, 255);

}
