#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#offcanvasNavbar {
  width: auto;
  }

  @font-face {
    font-family: "reg_font";   /*Can be any text*/
    src: local("engebrechtre"),
      url("/src/assets/engebrechtre.otf") format("truetype");
  }
  
  @font-face {
    font-family: "head_font";   /*Can be any text*/
    src: local("FancyPantsNF"),
      url("/src/assets/FancyPantsNF.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "title_font";   /*Can be any text*/
    src: local("Hero"),
      url("/src/assets/Hero.otf") format("truetype");
  }
  